@import '/src/styles/variables.scss';

.SubOrdersHistoryTable__container {
  .euiBasicTable {
    margin-bottom: 20px;

    > :first-child {
      height: 450px;
      overflow-y: auto;
    }

    .SubOrdersHistoryTable__orderNumber {
      display: flex;
      align-items: center;

      > :first-child {
        margin-right: 10px;
      }
    }

    .euiTableHeaderCell,
    .euiTableFooterCell,
    .euiTableCellContent--truncateText {
      padding: 8px;
      white-space: normal !important;

      .euiTableCellContent__text {
        span {
          font-size: 16px;
        }
      }
    }
  }

  .SubOrdersHistory__tableCell {
    padding: 16px;
  }
}

.SubOrdersHistoryTable__container .euiButtonEmpty__content {
  font-size: 20px;
}