@import '/src/styles/variables.scss';
@import '/src/styles/mixins.scss';

.SubOrderHistoryDetails__container {
  height: 100%;

  @include mobileBreakpoint() {
    background: #fcfcfc;

    .euiFlexGroup--gutterLarge>.euiFlexItem {
      margin-bottom: 0 !important;
    }

    .euiFlexGroup--gutterLarge,
    .euiFlexGroup--gutterLarge>.euiFlexItem {
      flex-grow: 0;
      margin: 0;
    }

    .SubOrderHistoryDetails__content {
      height: calc(100vh - 56px);
      overflow-y: auto;

      &--withFooter {
        height: calc(100vh - 140px);
      }
    }
  }

  .leftSide__container {
    box-shadow: 5px 0 5px -3px rgba(0, 0, 0, 0.4);
  }

  .SubOrderHistoryDetails__flexContainer {
    width: 100%;
    height: 100%;
  }

  .SubOrderHistoryDetails__footer {
    padding: 16px;
    box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.4);
  }

  .actionsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    //.buttonsContainerLabel {
    //  span {
    //    font-size: 24px;
    //  }
    //}

    .buttonsContainer {
      margin-top: 30px;

      button {
        margin: 0 10px;
      }
    }
  }

  .redirectButton__container {
    box-shadow: 5px -5px 5px -5px rgba(0, 0, 0, 0.4);
  }

  .SubOrderHistoryDetails__rightSide__container {
    background: #f4f5f7;
    overflow-y: scroll;

    @include mobileBreakpoint() {
      flex-wrap: nowrap;
      overflow-y: auto;
    }

    .SubOrderHistoryDetails__generalInfo {
      margin-top: 24px;

      @include mobileBreakpoint() {
        margin-top: 0;

        .SubOrderHistoryDetails__header {
          padding: 16px;
          background: $color-bg-orders-list;
        }

        .euiFlexGroup--responsive {
          flex-wrap: nowrap;
        }
      }
    }

    .SubOrderHistoryDetails__index {
      display: flex;
      align-items: center;

      img {
        margin-right: 10px;
      }

      @include mobileBreakpoint() {
        span {
          font-size: 24px;
          line-height: 32px;
        }
      }
    }

    .SubOrderHistoryDetails__type__payment_container {
      display: flex;
      flex-direction: row;

      span {
        margin-right: 2px;
        margin-left: 2px;
      }

      @include mobileBreakpoint() {
        padding: 16px 16px 0;
        background: $color-text-contrast;
      }
    }

    .SubOrderHistoryDetails__productsInfo {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      @include mobileBreakpoint() {
        padding: 16px;
        background: $color-text-contrast;
      }
    }

    .SubOrderHistoryDetails__listItem {
      flex-grow: 0;
      padding-top: 15px;
      padding-bottom: 15px;
      border-top: 1px solid $color-order-details-border;

      @include mobileBreakpoint() {
        flex-wrap: nowrap;

        &:first-child {
          border-top: none;
        }

        .euiFlexItem {
          flex-basis: auto !important;

          &:first-child {
            width: 36px !important;
            flex-shrink: 0;
          }
        }
      }

      .SubOrderHistoryDetails__price {
        text-align: right;
      }

      .SubOrderHistoryDetails__customerComments {
        overflow-wrap: anywhere;
      }
    }

    .SubOrderHistoryDetails__prices {
      .SubOrderHistoryDetails__type {
        span {
          font-size: 24px;
          font-weight: bold;
        }
      }

      .SubOrderHistoryDetails__priceContainer {
        display: flex;
        justify-content: space-between;
      }

      @include mobileBreakpoint() {
        border-top: 1px solid $color-order-details-border;
      }
    }

    .SubOrderHistoryDetails__refundPrices {
      margin-top: 32px;
    }
  }
}