@import '/src/styles/variables.scss';

.RefundTotal__container {
  display: flex;
  height: 100vh;
  flex-direction: column;
  background: $color-background;
}

.RefundTotal__title {
  font-size: 26px;
  font-style: normal;
  font-weight: bold;
  line-height: 34px;
}

.RefundTotal__body {
  overflow: auto;
  flex: 1 1 auto;
}

.RefundTotal__body__item_container {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  margin: 16px 0;
}

.RefundTotal__body__total_container {
  display: flex;
  justify-content: space-between;
  padding: 8px 20px;
  font-size: 24px;
  font-weight: bold;
  line-height: 32px;
}

.RefundTotal__buttonsContainer {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
  box-shadow: 0 -5px 5px -5px $color-order-details-btn-shadow;

  button {
    margin: 0 10px;
  }
}
