@import '/src/styles/variables.scss';
@import '/src/styles/mixins.scss';

.RefundSubOrderMobilePage {
  &__container {
    font-family: $font-family-primary;

    .HeaderMobile__container {
      position: fixed;
      width: 100%;
    }
  }

  &__body {
    position: relative;
    top: 56px;
    overflow: auto;
    width: 100%;
    height: calc(100vh - 209px);
    background-color: $color-bg-orders-list;

    &--refundQuestionTitle {
      padding: 16px;
      background-color: $color-background;

      label {
        font-size: 16px;
        font-weight: 700;
      }
    }

    &--refundReasons {
      display: flex;
      flex-direction: column;
      gap: 16px;

      .RefundReasonButton__container,
      .RefundReasonButton__container-checked {
        margin: 0 16px;
      }
    }
  }

  &__footer {
    position: fixed;
    bottom: 0;
    display: flex;
    width: 100%;
    height: 153px;
    flex-direction: column;
    justify-content: space-between;
    padding: 16px;
    background: $color-background;
    box-shadow: 0 -1px 5px rgb(0 0 0 / 40%);

    &--textSection {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }

    &--text {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-items: flex-start;
    }

    &--amount {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-items: center;
    }

    &--subtext {
      font-size: 18px;
    }
  }

  //
  //.RefundReasons {
  //  &__container {
  //    position: relative;
  //    top: 56px;
  //    height: calc(100vh - 56px);
  //
  //  }
  //
  //  &__header {
  //    padding: 16px;
  //    background: $color-background;
  //  }
  //
  //  &__title {
  //    font-family: $font-family-primary;
  //    font-size: $font-size-base - 4;
  //    display: flex;
  //    align-items: center;
  //    color: $color-mine-shaft-700;
  //  }
  //
  //}
}