@import '/src/styles/variables.scss';

.FilterMobile__container {
  .FilterMobile__content {
    height: calc(100vh - 208px);
    padding: 16px;
    font-family: $font-family-primary;
    overflow-y: auto;

    .FilterMobile__header {
      padding-bottom: 16px;
      font-size: 16px;
      font-weight: bold;
      line-height: 24px;

      &.availability {
        padding-top: 16px;
      }
    }

    .FilterMobile__items {
      .FilterMobile__checkbox {
        display: flex;
        height: 30px;
        flex-direction: row;
        align-items: center;
        margin-bottom: 28px;

        .euiCheckbox__square,
        .euiCheckbox__input,
        .euiCheckbox__input:checked {
          width: 24px;
          height: 24px;
          background-size: 12px;
        }

        .euiCheckbox__label {
          padding-left: 30px;
          font-size: $font-size-base;
        }
      }
    }
  }

  .FilterMobile__footer {
    display: flex;
    flex-direction: column;
    padding: 0 16px 16px;
    box-shadow: 0 -1px 5px $color-first-navbar-border-shadow;

    button {
      margin-top: 16px;
    }
  }
}