@import '/src/styles/variables.scss';

.euiOverlayMask {
  justify-content: flex-end !important;
  padding-bottom: 0 !important;
}

.StallStatusModal__link {
  margin-top: 8px;
  font-size: 20px;
  line-height: 28px;
}

.StallStatusModal__Modal {
  min-width: 50vw !important;
  max-width: 60vw !important;
  min-height: 100vh !important;

  .euiModal__flex {
    min-height: 100vh !important;
  }

  .StallStatusModal__header__title {
    font-size: 26px;
    line-height: 34px;
  }

  .StallStatusModal__header__text {
    font-size: 20px;
    font-weight: normal;
    line-height: 28px;
  }

  .euiModal__closeIcon {
    display: none;
  }

  .StallStatusModal__body__options-list-item {
    cursor: pointer;
    font-size: 20px;
    line-height: 48px;

    &.Selectable__item--no-select {
      cursor: not-allowed;
    }

    &.checked {
      font-weight: 600;
    }

    .StallStatusModal__item_spacer {
      display: inline-block;
      width: 16px;
    }

    .value-option {
      margin-left: 22px;
    }
  }

  .StallStatusModal__footer {
    justify-content: center !important;
    box-shadow: 0 -1px 5px $color-order-details-container-shadow;

    & .euiButton {
      width: 70%;
      height: 50px !important;

      & .euiButton__text {
        font-size: 20px;
        line-height: 28px;
      }
    }

    .StallStatusModal__footer__applyBtn {
      background-color: $color-navbar-link;
    }
  }
}
