@import '/src/styles/variables.scss';
@import '/src/styles/mixins.scss';

.SubOrderList {
  height: 100%;
  max-height: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0;
  background-color: $color-bg-orders-list;
  box-shadow: inset 27px 2px 25px -32px #000;
  list-style: none;
  overflow-y: auto;

  & li {
    margin-top: 15px;
    margin-bottom: 15px;
  }

  @include mobileBreakpoint() {
    box-shadow: none;
  }
}
