@import '/src/styles/variables.scss';

.SubOrdersHistory__FiltersMobile__container {
  padding: 16px;
  margin-bottom: 16px;
  background: $color-background;

  .SubOrdersHistory__FiltersMobile__date {
    margin-bottom: 16px;
  }

  .SubOrdersHistory__FiltersMobile__search {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .euiFormControlLayout {
      height: 50px;

      .euiFieldSearch {
        height: 50px;
        border: 1px solid rgba(15, 39, 118, 0.1);
        border-radius: 4px;
        box-shadow: $search-box-shadow;
        font-family: $font-family-primary;
        font-size: $font-size-base;

        &:focus-visible {
          outline: none;
        }
      }
    }
  }

  .SubOrdersHistory__FiltersMobile__button {
    position: relative;
    display: flex;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: flex-end;
    cursor: pointer;

    .SubOrdersHistory__FiltersMobile__number {
      position: absolute;
      top: 22px;
      left: 33px;
      display: flex;
      width: 24px;
      height: 24px;
      align-items: center;
      justify-content: center;
      padding: 2px;
      background: #c1083a;
      border-radius: 50%;
      color: #fff;
      font-size: 16px;
      font-weight: bold;
      line-height: 24px;
    }
  }
}