.Checkbox__icon {
  display: flex;
  width: 28px;
  height: 28px;
  align-items: center;
  justify-content: center;
  border: 1px solid #c9cbcd;
  background-color: #fff;
  border-radius: 4px;
}

.Checkbox__icon-disabled {
  display: flex;
  width: 28px;
  height: 28px;
  align-items: center;
  justify-content: center;
  border: 1px solid #c9cbcd;
  background-color: #ccc;
  border-radius: 4px;
}

.Checkbox__icon-checked {
  display: flex;
  width: 28px;
  height: 28px;
  align-items: center;
  justify-content: center;
  border: 1px solid #c9cbcd;
  background-color: #1557bf;
  border-radius: 4px;
}

.Checkbox__icon-checked-disabled {
  display: flex;
  width: 28px;
  height: 28px;
  align-items: center;
  justify-content: center;
  border: 1px solid #c9cbcd;
  background-color: #ccc;
  border-radius: 4px;
}

.Checkbox__label__quantity {
  width: 35px;
  margin-right: 16px;
  margin-left: 16px;
  text-align: right;
}
