@import '/src/styles/variables.scss';

.SubOrderBlock__container {
  min-width: 328px;
  background-color: $color-bg-order-block;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  text-align: left;

  &.checked {
    min-width: 328px;
    border-left: none;
    background-color: $color-bg-order-block;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    text-align: left;
  }
}

.SubOrderBlock__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  border-bottom: 1px solid #eaeaea;
  font-size: 16px;
  line-height: 24px;

  .SubOrderBlock__header__right-column {
    padding: 2px 4px;
    background-color: #c1083a;
    border-radius: 4px;

    span {
      color: #fff;
      font-size: 18px;
    }
  }
}

.SubOrderBlock__body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 8px 8px 0;
}

.SubOrderBlock__body__orderDetails {
  display: flex;
  min-width: 100px;
  align-items: center;
}

.SubOrderBlock__body__text {
  font-size: 20px;
  line-height: 28px;
}

.SubOrderBlock__footer {
  display: flex;
  flex-direction: row;
  padding: 0 8px 12px;
  font-size: 20px;
  line-height: 28px;

  &.withButton {
    flex-direction: column;

    & button {
      margin-top: 8px;
    }
  }
}

.SubOrderBlock__footer__time-section {
  display: flex;
  flex-direction: column;
}

.SubOrderBlock__footerTime {
  margin-left: 4px;
  color: #ea6100;
}

.SubOrderBlock__footerTime-withButton {
  color: #333;
  font-weight: bold;
}

.SubOrderBlock__text {
  margin: 0;
  margin-left: 8px;
  font-size: 20px;
  line-height: 28px;
}

.SubOrderBlock__orderNumber {
  overflow: hidden;
  margin-left: 8px;
  font-size: 24px;
  font-weight: bold;
  line-height: 32px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.SubOrderBlock__headerOrderType {
  font-weight: bold;
}

@media screen and (min-width: 992px) {
  .SubOrderBlock__container {
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
    text-align: left;

    & .SubOrderBlock__header {
      margin-left: 8px;
    }

    & .SubOrderBlock__body {
      margin-left: 8px;
    }

    & .SubOrderBlock__text {
      margin-left: 8px;
    }

    & .SubOrderBlock__footer {
      margin-left: 8px;
    }

    &.checked {
      position: relative;
      border-left: 4px solid #3fc078;
      margin-right: auto;
      // max-width: 420px;
      margin-left: auto;
      border-radius: 4px;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
      text-align: left;
      // transition: border 100ms ease-in-out;

      & .SubOrderBlock__header {
        margin-left: 2px;
      }

      & .SubOrderBlock__body {
        margin-left: 2px;
      }

      & .SubOrderBlock__text {
        margin-left: 2px;
      }

      & .SubOrderBlock__footer {
        margin-left: 2px;
      }

      &.blue {
        border-left: 4px solid #1557bf;
        transition: border 250ms ease-in-out;
      }
    }
  }

  .SubOrderBlock__triangle {
    position: absolute;
    top: 45%;
    left: -13px;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-right: 10px solid #3fc078;
    border-bottom: 10px solid transparent;
    // transition: border 250ms ease-in-out;

    &.blue {
      border-right: 10px solid #1557bf;
    }
  }

  .SubOrderBlock__header {
    border-bottom: 1px solid #eaeaea;
    font-size: 18px;
    line-height: 24px;
  }

  .SubOrderBlock__body {
    display: block;

    & .SubOrderBlock__body__orderDetails {
      display: flex;
      align-items: center;
    }
  }

  .SubOrderBlock__footer {
    &.withButton {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      font-size: 20px;
      line-height: 28px;
    }

    .SubOrderBlock__footer__auto-accepted {
      display: flex;

      .SubOrderBlock__auto-accepted__footerTime {
        margin-left: 6px;
        font-size: 24px;
        font-weight: bold;
      }
    }
  }

  .SubOrderBlock__footerTime {
    margin-left: 4px;
    color: #ea6100;
  }

  .SubOrderBlock__footerTime-withButton {
    color: #333;
    // font-size: 28px;
    font-weight: bold;
  }

  .SubOrderBlock__orderNumber {
    margin-left: 8px;
    font-size: 24px;
    font-weight: bold;
    line-height: 32px;
  }

  .SubOrderBlock__headerOrderType {
    font-weight: bold;
  }
}
