.SubOrderConfirmationMessage__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.SubOrderConfirmationMessage__title {
  width: 100%;
  margin-top: 16px;
  font-size: 26px;
  font-weight: bold;
  line-height: 34px;
  text-align: center;
}

.SubOrderConfirmationMessage__text {
  width: 100%;
  margin-top: 16px;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
}
