@import '/src/styles/variables.scss';
@import '/src/styles/mixins.scss';

.euiTab > .euiTab__append {
  margin-left: 4px;
}

.Tabs__container {
  display: flex;
  height: 100%;
  flex-direction: column;
  padding-right: 15px;
  padding-left: 15px;

  @include mobileBreakpoint() {
    height: calc(100% - 58px);
    padding-right: 0;
    padding-left: 0;
  }

  .euiTabs {
    flex-grow: 1;
    margin-right: 20px;
  }

  .Tabs__container__header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .euiFormControlLayout {
      max-width: 315px;
    }

    .euiFieldSearch {
      height: 50px;

      &:focus-visible {
        outline: none;
      }

      &.euiFieldSearch-isClearable {
        padding-right: 12px;
      }
    }

    @include mobileBreakpoint() {
      z-index: 1;
      background: $color-background;
      box-shadow: 0 4px 5px -3px $color-first-navbar-border-shadow;

      .euiTabs--bottomBorder {
        box-shadow: none;
      }
    }
  }

  > .euiTabs {
    .euiTab-isSelected {
      &:hover {
        text-decoration: none;
      }

      &:focus {
        text-decoration: none;
      }
    }
  }

  > div:nth-child(2) {
    overflow: hidden;
    height: 100%;
    max-height: 100%;
  }
}

.Tabs__container__header > .euiTabs--condensed.euiTabs {
  .euiTab-isSelected {
    &:hover {
      text-decoration: none;
    }

    &:focus {
      text-decoration: none;
    }
  }
}

.euiTabs > .euiTab {
  width: 164px;
  justify-content: center;
  color: $color-navbar-link;

  .euiTab__content {
    color: $color-navbar-link;
    text-decoration: none !important;
  }

  &:hover,
  &:focus {
    text-decoration: none !important;
  }

  &.euiTab-isSelected {
    box-shadow: inset 0 -2px 0 #333;
    color: #333 !important;

    .euiTab__content {
      color: #333 !important;
      text-decoration: none !important;
    }
  }
}

@include tabletBreakpoint() {
  .euiTabs > .euiTab {
    width: 315px;
  }

  .euiTabs {
    height: 60px;
    justify-content: flex-start;
  }

  .euiTabs > .euiTab .euiTab__content,
  .euiTabs--condensed .euiTab .euiTab__content {
    font-size: 20px;
    font-style: normal;
    font-weight: bold;
    line-height: 28px;
  }
}
