@import '/src/styles/variables.scss';

.StallTableMobile__container {
  font-family: $font-family-primary;

  .MoreMobile__button {
    height: 24px;
  }

  .MoreMobile__container {
    font-weight: normal;

    .MoreMobile__items {
      max-height: 50vh;
      overflow-y: auto;

      .MoreMobile__item.disabled {
        cursor: not-allowed;
        text-decoration: none;
      }

      .StallTableMobile__subStatus {
        padding-left: 20px;
      }

      .euiHealth--textSizeS {
        font-size: 20px;
        line-height: 28px;
      }
    }
  }
}