@import '/src/styles/variables.scss';
@import '/src/styles/mixins.scss';

.ErrorMessage__overlay {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.8);
}

.ErrorMessage__container {
  display: flex;
  width: 654px;
  height: 459px;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 60px;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
  text-align: center;

  @include mobileBreakpoint() {
    width: 90%;
    padding: 16px;
  }
}

.ErrorMessage__title {
  color: #333;
  font-size: 26px;
  font-weight: bold;
  line-height: 34px;
}

.ErrorMessage__text {
  color: #333;
  font-size: 20px;
  font-weight: normal;
  line-height: 28px;
}