.MenuAvailability__container {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: auto;
}

.MenuTable_container {
  .MenuTable_itemsInfo {
    span {
      font-size: 16px;
    }
  }

  .Table__itemNameContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  .euiBasicTable {
    margin-top: 20px;
    margin-bottom: 20px;

    > :first-child {
      height: 400px;
      overflow-y: auto;
    }
  }

  .euiSelect {
    font-size: 20px;

    &:focus-visible {
      outline: none;
    }
  }

  .euiTableHeaderCell {
    .euiTableCellContent {
      padding: 10px;

      .euiTableCellContent__text {
        overflow: visible;
        font-size: 18px;
      }
    }
  }

  .euiTableRow {
    .euiTableCellContent {
      padding: 20px 10px;

      .euiTableCellContent__text {
        overflow: visible;
        font-size: 20px;
      }
    }
  }

  .euiButtonEmpty__content {
    font-size: 20px;
  }
}
