.RefundReasonButton__container {
  position: relative;
  display: flex;
  height: 100px;
  align-items: center;
  justify-content: center;
  padding-right: 75px;
  padding-left: 75px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  text-align: center;
  transition: outline 250ms ease-in-out;

  &-checked {
    @extend .RefundReasonButton__container;

    outline: 4px solid #1557bf;
  }
}

.RefundReasonButton__checkbox-checked {
  position: absolute;
  top: -2px;
  right: -2px;
  display: flex;
  width: 24px;
  height: 24px;
  align-items: center;
  justify-content: center;
  background-color: #1557bf;
  border-radius: 0 4px 0 4px;
  transition: background-color 250ms ease-in-out;
}

.RefundReasonButton__checkbox {
  position: absolute;
  top: -2px;
  right: -2px;
  display: flex;
  width: 24px;
  height: 24px;
  align-items: center;
  justify-content: center;
  border-radius: 0 4px 0 4px;
  opacity: 0;
}

.RefundReasonButton__label {
  font-size: 20px;
  font-weight: bold;
  line-height: 28px;
}
