.RejectConfirmationMessage__container {
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.RejectConfirmationMessage__title {
  width: 470px;
  margin-top: 16px;
  font-size: 26px;
  font-weight: bold;
  line-height: 34px;
  text-align: center;
}

.RejectConfirmationMessage__text {
  width: 490px;
  margin-top: 16px;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
}
