@import '/src/styles/variables.scss';

.SubOrdersHistories__Filters__container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;

  .bg-white {
    background-color: $color-white;
  }

  .Filters__filter-raw {
    display: flex;
    align-items: center;
  }

  .Filters__first-filter-raw {
    display: flex;
    height: auto;
    align-items: center;
    justify-content: space-between;

    .euiFormControlLayout {
      width: 315px;
      height: auto;
    }

    .euiFieldSearch {
      height: 52px;

      &:focus-visible {
        outline: none;
      }

      &.euiFieldSearch-isClearable {
        padding-right: 12px;
      }
    }
  }

  .Filters__second-filter-raw {
    display: flex;
  }
}