.euiPageContentBody {
  text-align: center;

  img {
    margin-bottom: 32px;
  }

  .euiText.euiText--medium.scan-text {
    margin-bottom: 32px;
  }

  canvas {
    margin: 20px;
  }

  .retry-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .retry-error {
      display: block;
      margin-bottom: 10px;
    }
  }
}
