@import '/src/styles/variables.scss';

.BottomButton__container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  background: $color-background;
  box-shadow: 0 -5px 5px -5px rgb(0 0 0 / 40%);
}