@import '/src/styles/variables';

.SubOrdersHistoryTableMobile__container {
  overflow: auto;
  height: calc(100% - 196px);
  padding: 0 16px;

  .SubOrdersHistoryTable__noitems {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .SubOrdersHistoryTable__pagination {
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 12px;
    background-color: $color-bg-orders-list;
    font-family: $font-family-primary;

    .euiText--small {
      font-size: 20px;
    }
  }

  //.SubOrdersHistoryTableMobile_itemsInfo {
  //  margin-bottom: 10px;
  //}
}