@import './variables.scss';
@import './mixins.scss';

html {
  height: 100vh;
  font-family: $font-family-primary;
  font-size: $font-size-base;
  letter-spacing: $letter-spacing-base;
  line-height: $line-height-base;

  input,
  textarea,
  select,
  button {
    font-family: $font-family-primary;
  }
}

body {
  height: 100vh;
  padding: 0;
  margin: 0;

  @include mobileBreakpoint() {
    background: $color-bg-orders-list;
  }
}

body #root {
  display: flex;
  height: 100%;
  max-height: 100%;
  flex-direction: column;
}

* {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -o-user-select: none;
  user-select: none;
}

button.euiButton {
  text-decoration: none !important;
}

.Selector__nested-options {
  margin-left: 15px;
  font-size: 20px;
  line-height: 28px;
}

.euiSuperSelectControl {
  &.lg {
    padding-left: 16px;
    font-size: 20px;
    line-height: 28px;
  }
}

.euiSuperSelect__listbox {
  .euiSuperSelect__item:hover,
  .euiSuperSelect__item:focus,
  .euiContextMenuItem:hover,
  .euiContextMenuItem:focus {
    text-decoration: none;
  }

  .euiContextMenuItem {
    .euiContextMenuItem__text {
      .lg {
        margin-left: 15px;
        font-size: 20px;
        line-height: 28px;
      }

      .value-option {
        margin-left: 20px;
      }
    }
  }
}

.euiPagination__list {
  margin-left: 20px;
}

.euiPagination__item {
  margin-right: 20px;
}

[type='radio']:checked,
[type='radio']:not(:checked) {
  position: absolute;
  left: -9999px;
}

[type='radio']:checked + label,
[type='radio']:not(:checked) + label {
  position: relative;
  display: inline-block;
  padding-left: 34px;
  cursor: pointer;
  line-height: 20px;
}

[type='radio']:checked + label::before,
[type='radio']:not(:checked) + label::before {
  position: absolute;
  top: 3px;
  left: 0;
  width: 20px;
  height: 20px;
  border: 2px solid $color-primary-btn;
  background: #fff;
  border-radius: 100%;
  content: '';
}

[type='radio']:checked + label::after,
[type='radio']:not(:checked) + label::after {
  position: absolute;
  top: 7px;
  left: 4px;
  width: 12px;
  height: 12px;
  background: $color-primary-btn;
  border-radius: 100%;
  content: '';
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

[type='radio']:not(:checked) + label::after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}

[type='radio']:checked + label::after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}
