/* default colors */
$color-text: #000;
$color-text-contrast: #fcfcfc;
$color-text-muted: #37474f;
$color-text-link: #00e;
$color-border: #000;
$color-background: #fcfcfc;
$color-danger: #b71c1c;
$color-bg-block: #f8f8f8;
$color-border-block: #efecec;
$color-box-shadow-block: rgba(45, 43, 69, 0.15);
$color-pick-up-timer: #ea6100;
$color-bg-light-green: #e3f6eb;
$color-bg-light-orange: #fff0e5;
$color-bg-light-blue: #ebf0fd;
$color-bg-light-red: #fee7ed;
$color-mine-shaft-700: #333;
$color-white: #fff;
$color-blue-primary: #1557bf;
$color-orange: #ea6100;
$color-red: #c1083a;

/* First Navbar Colors */
$color-bg-first-level-navbar: $color-background;
$color-first-navbar-border-shadow: rgba(0, 0, 0, 0.4);
$color-navbar-link: $color-blue-primary;

/* Orders List Colors */
$color-bg-orders-list: #f4f5f7;
$color-bg-order-block: $color-background;

/* Order Details Colors */
$color-order-details-bg-container: $color-background;
$color-order-details-container-shadow: rgba(0, 0, 0, 0.4);
$color-bg-order-details-header: #e3f6eb;
$color-order-details-border: #eaeaea;
$color-order-details-accepted-btn: #267348;
$color-order-details-btn-shadow: $color-order-details-container-shadow;

/* Orders history */
$color-orders-history-table-bg: #fff;
$color-orders-history-table-border: #eaeaea;

/* fonts */
$font-family-primary: 'Lato', helvetica neue, helvetica, arial, sans-serif;
$font-family-secondary: georgia, times new roman, times, serif;
$font-size-base: 20px;
$letter-spacing-base: 0;
$line-height-base: 1.3;

/* sizes */
$border-width-regular: 0.1rem;

/* z-indexes */
$z-index-0: 0;
$z-index-1: 1;
$z-index-2: 10;
$z-index-3: 100;
$z-index-4: 1000;
$z-index-5: 10000;

/* buttons colors */
$color-primary-btn: $color-blue-primary;
$color-orange-btn: #ea6100;
$color-green-btn: #267348;
$color-light-btn: rgba(0, 119, 204, 0.2);
$color-disabled-btn: #ccc;
$color-white-text: #fff;
$color-gray-text: #999;

$search-box-shadow: 0 1px 1px rgba(152, 162, 179, 0.1), 0 3px 2px rgba(152, 162, 179, 0.1);
