.box-container {
  $padMarg: (2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32);

  @each $len in $padMarg {
    &.p-#{$len} {
      padding: #{$len}px;
    }
  }

  @each $len in $padMarg {
    &.pt-#{$len} {
      padding-top: #{$len}px;
    }
  }

  @each $len in $padMarg {
    &.pr-#{$len} {
      padding-right: #{$len}px;
    }
  }

  @each $len in $padMarg {
    &.pb-#{$len} {
      padding-bottom: #{$len}px;
    }
  }
  @each $len in $padMarg {
    &.pl-#{$len} {
      padding-left: #{$len}px;
    }
  }

  @each $len in $padMarg {
    &.m-#{$len} {
      margin: #{$len}px;
    }
  }

  @each $len in $padMarg {
    &.mt-#{$len} {
      margin-top: #{$len}px;
    }
  }

  @each $len in $padMarg {
    &.mr-#{$len} {
      margin-right: #{$len}px;
    }
  }

  @each $len in $padMarg {
    &.mb-#{$len} {
      margin-bottom: #{$len}px;
    }
  }

  @each $len in $padMarg {
    &.ml-#{$len} {
      margin-left: #{$len}px;
    }
  }
}
