@import '/src/styles/variables.scss';

.HeaderMobile__container {
  z-index: 1;
  display: flex;
  height: 56px;
  flex-shrink: 0;
  align-items: center;
  justify-content: flex-start;
  background: $color-background;
  box-shadow: 0 2px 5px $color-first-navbar-border-shadow;
  cursor: pointer;

  img {
    padding: 0 20px;
  }
}