@import '/src/styles/variables.scss';

.Sidebar__container {
  height: 100%;
  padding: 16px;
  background-color: $color-bg-orders-list;
  overflow-y: auto;
}

.Sidebar__header {
  padding-bottom: 16px;
  border-bottom: 1px solid #eaeaea;
}

.Sidebar__header__orderNumber {
  margin-left: 9px;
  font-size: 26px;
  font-weight: bold;
  line-height: 34px;
}

.Sidebar__header__orderData {
  font-size: 18px;
  line-height: 24px;
}

.Sidebar__header__orderData__pickup {
  color: green;
}

.Sidebar__header__orderDetails {
  margin-top: 16px;
  font-size: 20px;
  line-height: 28px;
}

.Sidebar__body {
  padding-top: 16px;

  .Sidebar__selectAll__button {
    span {
      color: #1557bf;
    }
  }
}