@import '/src/styles/variables.scss';
@import '/src/styles/mixins.scss';

.CustomButton {
  min-width: 112px;
  max-width: 100%;
  height: 52px;
  padding: 0 25px;
  appearance: none;
  background-color: $color-primary-btn;
  border-radius: 6px;
  color: $color-white-text;
  cursor: pointer;
  font-size: $font-size-base;
  font-weight: 500;
  outline-offset: -1px;
  text-align: center;
  transition: transform 250ms ease-in-out, background 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
  vertical-align: middle;
  white-space: nowrap;

  @include mobileBreakpoint() {
    border-radius: 4px;
  }

  &:hover:not(:disabled) {
    background-color: $color-primary-btn;
    transform: translateY(-1px);
  }

  &:focus {
    text-decoration: none;
  }

  &.orange {
    background-color: $color-orange-btn;

    &:hover:not(:disabled) {
      background-color: $color-orange-btn;
    }
  }

  &.green {
    background-color: $color-green-btn;

    &:hover:not(:disabled) {
      background-color: $color-green-btn;
    }
  }

  &.red {
    background-color: $color-red;

    &:hover:not(:disabled) {
      background-color: $color-red;
    }
  }

  &.light {
    background-color: $color-light-btn;

    &:hover:not(:disabled) {
      background-color: $color-light-btn;
    }
  }

  &.transparent {
    background-color: transparent;
    color: $color-primary-btn;

    &:hover:not(:disabled) {
      background-color: transparent;
    }
  }

  &:disabled {
    background-color: $color-disabled-btn;
    color: $color-gray-text;
    cursor: not-allowed;

    .CustomButton__content__text {
      span {
        color: $color-gray-text;
      }
    }
  }

  &.sm {
    height: 32px;
    border-radius: 4px;
    line-height: 32px;
  }

  &.md {
    width: 260px;
  }

  &.lg {
    width: 315px;
  }

  &.xl {
    width: 424px;
  }

  &.max {
    width: 100%;
  }

  &.padding-no {
    padding: 0;
  }

  &.padding-xl {
    padding: 0 70px;
  }

  &__content {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    padding: 0 12px;
    vertical-align: middle;

    &__text {
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}