@import '/src/styles/mixins.scss';

.SubOrderDetailsEmpty__container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 16px;
  text-align: center;
}

.SubOrderDetailsEmpty__content {
  font-size: 20px;
  line-height: 28px;
}
