@import '/src/styles/variables.scss';
@import '/src/styles/mixins.scss';

.SubOrderDetails__container {
  display: flex;
  flex-direction: column;
  background-color: $color-order-details-bg-container;
  box-shadow: -5px 0 5px -5px $color-order-details-container-shadow;
  overflow-y: auto;

  .SubOrderDetails__header {
    display: flex;
    align-items: center;
    padding: 15px;
    background-color: $color-bg-order-details-header;

    @include mobileBreakpoint() {
      display: block;
    }

    div {
      display: flex;
      align-items: center;
    }

    span {
      margin-right: 5px;
      margin-left: 5px;

      &.SubOrderDetails__header__divider {
        color: $color-text;
        font-family: $font-family-primary;
        font-size: $font-size-base;
        letter-spacing: $letter-spacing-base;
        line-height: $line-height-base;

        @include mobileBreakpoint() {
          display: none;
        }
      }
    }

    .SubOrderDetails__header__pickUpTimer {
      img {
        margin-left: 10px;
        vertical-align: sub;
        // margin-right: -5px;
      }

      span {
        color: $color-pick-up-timer;
      }
    }

    &--cancelled {
      background-color: $color-bg-orders-list;
    }
  }

  .SubOrderDetails__body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-right: 15px;
    padding-left: 15px;
    overflow-y: auto;

    .SubOrderDetails__category {
      padding-left: 8px;
      border-left: 4px solid #1557bf;
    }

    .euiFlexGroup--gutterLarge {
      margin: 0 -12px 0 -12px;
    }

    .SubOrderDetails__listItem {
      display: flex;
      flex-grow: 0;
      flex-wrap: nowrap;
      justify-content: space-between;
      padding-bottom: 15px;
      border-bottom: 1px solid $color-order-details-border;
      margin-top: 15px;

      .SubOrderDetails__customerComments,
      .SubOrderHistoryDetails__customisation {
        margin-top: 8px;

        span {
          font-size: 18px;
        }
      }

      .SubOrderDetails__productPrice {
        display: flex;
        align-items: flex-end;
      }

      &.OrderDetails__type {
        span {
          font-size: 24px;
          font-weight: bold;
        }
      }

      .euiFlexItem {
        width: auto !important;
        flex-basis: auto !important;
        margin-bottom: 12px !important;
      }
    }

    .SubOrderDetails__body__reprintBtn {
      color: #0071c2;
      font-size: 20px;
      line-height: 28px;

      &:hover {
        text-decoration: underline;
      }

      @include mobileBreakpoint() {
        display: none;
      }
    }

    .SubOrderDetails__prices {
      margin-top: 10px;

      .SubOrderDetails__price {
        display: flex;
        justify-content: space-between;
        padding-bottom: 16px;
        border-bottom: 1px solid $color-order-details-border;
        margin-top: 16px;
      }

      .SubOrderDetails__totalPrice {
        margin-top: 20px;

        span {
          font-size: 26px;
          font-weight: bold;
        }
      }
    }

    .SubOrderDetails__contacts {
      display: grid;
      padding-top: 20px;
      padding-bottom: 20px;
      border-top: 1px solid $color-order-details-border;
      grid-template-columns: auto auto;

      .SubOrderDetails__customerContacts {
        display: flex;
        flex-direction: column;

        span {
          margin-top: 5px;
        }
      }

      .OrderDetails__driverContacts {
        display: flex;
        flex-direction: column;

        span {
          margin-top: 5px;
        }
      }
    }

    &--cancelled {
      opacity: 0.5;
    }
  }
}
