@import '/src/styles/mixins.scss';

.ItemUnavailable__header {
  padding: 16px 20px;
  background: #fcfcfc;
}

.ItemUnavailable__header__title {
  font-size: 26px;
  font-weight: bold;
  line-height: 34px;

  @include mobileBreakpoint() {
    font-size: 16px;
    line-height: 24px;
  }
}

.ItemUnavailable__body {
  min-height: auto;
  padding: 0 20px 20px;

  .CustomButton {
    padding: 0;

    .CustomButton__content {
      justify-content: flex-start;
      padding: 0;
    }
  }
}

.ItemUnavailable_customisationItems__list {
  margin-left: 70px;
}

.ItemUnavailable__product {
  padding: 16px 0;
  border-bottom: 2px solid #eaeaea;
}