@import '/src/styles/mixins.scss';

.SubOrderStatus__updatedTime {
  display: flex;

  .SubOrderStatusMobile {
    margin-top: 0;
  }

  span {
    margin-right: 2px;
    margin-left: 2px;

    @include mobileBreakpoint() {
      padding: 7px 0;
      font-size: 16px;
      line-height: 24px;
    }
  }
}