@import '/src/styles/variables.scss';

.Splash__overlay {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.8);
}

.Splash__container {
  display: flex;
  width: 654px;
  height: 459px;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 60px;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
  text-align: center;
}

.Splash__title {
  color: #333;
  font-size: 26px;
  font-weight: bold;
  line-height: 34px;
}

.Splash__text {
  color: #333;
  font-size: 20px;
  font-weight: normal;
  line-height: 28px;
}

.Splash__container .RejectSubOrder__buttonsContainer__backbtn {
  width: 424px;
  height: 52px;
  background-color: $color-navbar-link !important;
}

.RejectSubOrder__buttonsContainer__backbtn__text {
  font-size: 20px;
  font-weight: normal;
  line-height: 28px;
}
