@import '/src/styles/mixins.scss';
@import '/src/styles/variables.scss';

.SubOrdersPage__container {
  height: calc(100% - 70px);
  max-height: calc(100% - 70px);

  @include mobileBreakpoint() {
    height: 100%;
    max-height: 100%;

    &.selected {
      .NavBarMobile__container,
      .Tabs__container__header {
        display: none;
      }

      .Tabs__container {
        height: 100%;
      }
    }
  }

  flex-grow: 0;
  font-family: $font-family-primary;

  .euiTabs {
    .euiTab:first-child {
      .euiTab__append,
      .euiBetaBadge--accent {
        width: 24px;
        height: 24px;
        background-color: #c1083a;
        border-radius: 50%;
        color: white;
        font-size: 16px;
      }

      .euiText,
      .euiBetaBadge {
        font-weight: bold;
        letter-spacing: 0;
      }
    }

    .euiTab:last-child {
      .euiTab__append {
        font-size: 20px;
      }
    }
  }
}
