@import '/src/styles/variables.scss';

.RefundReasons__container {
  display: flex;
  height: 100vh;
  flex-direction: column;
  background: $color-background;
}

.RefundReasons__body {
  flex: 1 1 auto;
  padding: 16px 20px;
  overflow-y: auto;
}

.RefundReasons__body__reason__btns {
  display: grid;
  column-gap: 18px;
  grid-template-columns: 1fr 1fr;
  row-gap: 16px;
}

.RefundReasons__buttonsContainer {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
  box-shadow: 0 -5px 5px -5px $color-order-details-btn-shadow;

  button {
    margin: 0 10px;
  }
}
