@import '/src/styles/variables.scss';

.MenuMobile__container {
  position: absolute;
  z-index: 9999;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: $color-background;
  font-family: $font-family-primary;

  .MenuMobile__header {
    padding: 16px;
    background: $color-bg-orders-list;

    img {
      height: 40px;
      margin-bottom: 10px;
    }

    &__text {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      font-size: 18px;
      line-height: 24px;

      .MenuMobile__refreshButton {
        background: $color-primary-btn !important;
        border-radius: 4px;
        box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25) !important;

        .euiButton__content {
          padding: 0 10px;
        }
      }

      button {
        width: 52px;
        min-width: 52px;
        height: 52px;
        margin-left: 16px;
        font-size: 32px;

        span span {
          margin-top: -4px;
        }
      }
    }

    &--logo {
      display: flex;
      flex-direction: row;
      align-items: center;
      column-gap: 10px;
    }
  }

  .MenuMobile__items {
    padding: 16px;

    .MenuMobile__item {
      display: flex;

      &__icon {
        width: 36px;
        flex-shrink: 0;
      }

      &__title {
        font-size: 20px;
        font-weight: bold;
        line-height: 28px;
      }

      &__description {
        font-size: 16px;
        line-height: 24px;
      }

      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }
  }
}
