@import '/src/styles/variables.scss';
@import '/src/styles/mixins.scss';

.euiTabs>.euiTab {
  width: 164px;
  justify-content: center;

  @include mobileBreakpoint() {
    width: 50%;
  }

  &:not(.euiTab-isDisabled) {
    &:hover {
      .euiTab__content {
        text-decoration: none;
      }
    }

    &:focus {
      .euiTab__content {
        text-decoration: none;
      }
    }
  }
}

.MenuTabs__container {
  display: flex;
  height: 100%;
  flex-direction: column;
  padding: 0 15px;

  @include mobileBreakpoint() {
    padding: 0;
    background: $color-bg-orders-list;
  }

  .euiTabs {
    flex-grow: 1;
    margin-right: 20px;

    @include mobileBreakpoint() {
      padding: 0 15px;
      margin-right: 0;
      background: $color-background;
      box-shadow: 0 4px 5px -3px $color-first-navbar-border-shadow;
    }
  }

  .MenuTabs__container__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .MenuTabs__container__search {
      width: 100%;
      max-width: 315px;

      @include mobileBreakpoint() {
        display: flex;
        max-width: 100%;
        align-items: center;
        justify-content: space-between;
        padding: 15px;
      }

      .MenuTabs__mobile__filters__button {
        position: relative;
        display: flex;
        width: 50px;
        height: 50px;
        align-items: center;
        justify-content: flex-end;
        cursor: pointer;

        .MenuTabs__mobile__filters__number {
          position: absolute;
          top: 22px;
          left: 33px;
          display: flex;
          width: 24px;
          height: 24px;
          align-items: center;
          justify-content: center;
          padding: 2px;
          background: $color-red;
          border-radius: 50%;
          color: $color-white-text;
          font-size: 16px;
          font-weight: bold;
          line-height: 24px;
        }
      }
    }

    .euiFormControlLayout {
      max-width: 315px;

      @include mobileBreakpoint() {
        max-width: 90%;
        height: auto;
        border-radius: 4px;
        box-shadow: 0 1px 1px rgb(152 162 179 / 10%), 0 3px 2px rgb(152 162 179 / 10%);
      }
    }

    .euiFieldSearch {
      height: 50px;

      &:focus-visible {
        outline: none;
      }

      &.euiFieldSearch-isClearable {
        padding-right: 12px;
      }
    }

    @include mobileBreakpoint() {
      flex-direction: column;
      align-items: initial;
    }
  }

  >.euiTabs {
    .euiTab-isSelected {
      &:hover {
        text-decoration: none;
      }

      &:focus {
        text-decoration: none;
      }
    }
  }

  .MenuTabs__container__filters {
    display: flex;
    margin-top: 20px;

    @include mobileBreakpoint() {
      display: none;
    }
  }
}

.MenuTabs__container__header>.euiTabs--condensed.euiTabs {
  .euiTab-isSelected {
    &:hover {
      text-decoration: none;
    }

    &:focus {
      text-decoration: none;
    }
  }
}

@media screen and (min-width: 992px) {
  .euiTabs>.euiTab {
    width: 315px;
  }

  .euiTabs {
    height: 60px;
    justify-content: flex-start;
  }

  .euiTabs>.euiTab .euiTab__content,
  .euiTabs--condensed .euiTab .euiTab__content {
    font-size: 20px;
    font-style: normal;
    font-weight: bold;
    line-height: 28px;
  }
}