@import '/src/styles/variables.scss';

.MoreMobile__button {
  display: flex;
  width: 38px;
  height: 38px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.MoreMobile__container {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);

  .MoreMobile__content {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: $color-text-contrast;

    .MoreMobile__header {
      padding: 16px;
      font-size: 16px;
      font-weight: bold;
      line-height: 24px;
    }

    .MoreMobile__items {
      padding-bottom: 12px;

      .MoreMobile__item {
        display: flex;
        height: 48px;
        align-items: center;
        cursor: pointer;
        font-size: 20px;
        line-height: 28px;

        &.checked {
          background: $color-bg-light-blue;
        }

        .MoreMobile__item__check {
          width: 48px;
          text-align: center;
        }
      }
    }
  }
}