@import '/src/styles/variables.scss';

.SubOrdersHistoryTable__statisticsContainer {
  padding: 16px 20px;
  border: 1px solid $color-orders-history-table-border;
  border-left: 4px solid $color-blue-primary;
  background-color: $color-orders-history-table-bg;
  border-radius: 4px;

  .deliveryFee {
    span {
      font-size: 16px;
    }
  }

  .euiFlexGrid--gutterLarge>.euiFlexItem {
    margin: 8px 12px;
  }
}