@import '/src/styles/mixins.scss';

.RejectionReasonButton__container {
  position: relative;
  display: flex;
  height: 60px;
  flex: 1;
  align-items: center;
  justify-content: center;
  margin: 16px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  white-space: nowrap;

  &.checked {
    border: 4px solid #1557bf;
  }

  @include mobileBreakpoint() {
    flex: auto;
    margin: 0 0 16px 0;
  }
}

.RejectionReasonButton__checkbox {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  width: 24px;
  height: 24px;
  align-items: center;
  justify-content: center;
  background-color: #1557bf;
  border-radius: 0 0 0 4px;
  opacity: 0;

  &.checked {
    opacity: 1;
  }
}