.MenuAvailabilityMobile__container {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: auto;
}

.MenuTableMobile__container {
  .MenuTableListMobile {
    height: calc(100vh - 262px);
    margin: 0;
    list-style: none;
    overflow-y: scroll;

    & li {
      padding: 0 15px 15px;
    }
  }

  .MenuTableMobile__noitems {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .MenuTableMobile__pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;

    .euiText--small {
      font-size: 20px;
    }
  }
}
