@import '/src/styles/variables.scss';

.common {
  margin-top: 0;
  color: $color-text;
  font-family: $font-family-primary;
  font-size: $font-size-base;
  letter-spacing: $letter-spacing-base;
  line-height: $line-height-base;
}

.h1,
.h2,
.h3,
.h4,
.h5 {
  margin-bottom: 0;
  font-weight: bold;
}

.h1 {
  font-size: 2.4rem;
}

.h2 {
  font-size: 2rem;
}

.h3 {
  font-size: 1.6rem;
}

.h4 {
  font-size: 1.4rem;
}

.h5 {
  font-size: 1.2rem;
}

.black {
  color: $color-text;
}

.white {
  color: $color-text-contrast;
}

.gray {
  color: $color-gray-text;
}

.blue {
  color: $color-navbar-link;
}

.orange {
  color: $color-orange;
}

.red {
  color: $color-red;
}

.bold {
  font-weight: bold;
}

.normal {
  font-weight: normal;
}

.SubOrderBlock__footerText {
  margin-right: 6px;
}

.ln-28 {
  line-height: 28px;
}