@import '/src/styles/mixins.scss';

.TooBusy__header_container {
  padding: 16px 20px;
  background: #fcfcfc;
}

.TooBusy__header__title {
  font-size: 26px;
  line-height: 34px;

  @include mobileBreakpoint() {
    font-size: 16px;
    line-height: 24px;
  }
}

.TooBusy__selector__container {
  min-height: auto;
  padding: 20px;

  .TooBusyMobile__radio {
    label {
      width: 100%;
      height: 48px;
    }
  }
}
