@import '/src/styles/variables.scss';
@import '/src/styles/mixins.scss';

.SubOrderDetails__container {
  .AcceptedButtons__footer {
    display: none;

    @include mobileBreakpoint() {
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: center;
      padding: 16px;
      box-shadow: 0 -1px 5px $color-first-navbar-border-shadow;
    }
  }
}
