@import '/src/styles/variables.scss';

.RefundEmpty__container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background: $color-background;
}

.RefundEmpty__title {
  font-size: 26px;
  font-style: normal;
  font-weight: bold;
  line-height: 34px;
}

.RefundEmpty__body {
  overflow: auto;
  flex: 1 1 auto;
  margin: 8px 20px;
}

.RefundEmpty__buttonsContainer {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
  box-shadow: 0 -5px 5px -5px $color-order-details-btn-shadow;

  button {
    margin: 0 10px;
  }
}