@import '/src/styles/variables.scss';

.Sidebar__counterContainer__product {
  margin-left: -50px !important;
}

.Sidebar__counterContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 16px;
  margin-top: 16px;
  margin-left: 50px;
  background-color: $color-background;
  border-radius: 4px;
}

.Sidebar__counterTitle {
  font-size: 20px;
  font-weight: bold;
  line-height: 28px;
}

.Sidebar__counter__body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 16px;
}

.Sidebar__counter {
  width: 60px;
  height: 52px;
  font-size: 20px;
  line-height: 28px;
  pointer-events: none;
  text-align: center;
}

.Sidebar__counterMinus {
  margin-right: 16px;
}

.Sidebar__counterMinus--active {
  margin-right: 16px;
  cursor: pointer;

  & path {
    fill: $color-navbar-link;
  }
}

.Sidebar__counterPlus {
  margin-left: 16px;

  & path {
    fill: #ccc;
  }
}

.Sidebar__counterPlus--active {
  margin-left: 16px;
  cursor: pointer;
}