@import '/src/styles/variables.scss';

.SubOrdersHistoryStatisticsMobile__Caption {
  margin-bottom: 8px;
  color: $color-mine-shaft-700;
  font-family: $font-family-primary;
  font-size: 20px;
  font-weight: 700;
}

.SubOrdersHistoryStatisticsMobile__Container {
  padding: 12px;
  border: 1px solid $color-orders-history-table-border;
  border-left: 4px solid $color-primary-btn;
  margin-bottom: 16px;
  background: $color-bg-order-block;
  border-radius: 4px;
  font-family: $font-family-primary;
  font-size: 16px;
  line-height: 24px;

  .SubOrdersHistoryStatisticsMobile__table {
    display: grid;
    grid-template-columns: 1.7fr 1fr;
    row-gap: 10px;

    .SubOrdersHistoryStatisticsMobile__title {
      display: flex;
      flex-direction: row;
      align-items: center;
      font-weight: bold;
    }

    .SubOrdersHistoryStatisticsMobile__value {
      font-size: 24px;
      font-weight: bold;
      line-height: 32px;
    }

    .SubOrdersHistoryStatisticsMobile__double {
      grid-column: 1 / 3;
    }
  }
}