@import '/src/styles/variables.scss';

.SubOrdersHistory__datePickerPopover {
  .euiButton.SubOrdersHistory__datePickerPopover__button {
    width: 250px;
    background-color: #fbfcfd;
    border-radius: 6px;
    box-shadow: 0 0 transparent, inset 0 0 0 1px rgba(17, 43, 134, 0.1) !important;
    color: $color-text;

    &:hover,
    &:focus {
      animation: none;
      background-color: #fbfcfd;
      transform: none;
    }

    &:active {
      transform: none;
    }
  }
}

.SubOrdersHistory__datePickerPopover__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .euiButton__text,
  .euiButtonEmpty__text {
    span {
      color: #1557bf;
    }
  }
}