@import '/src/styles/variables.scss';
@import '/src/styles/mixins.scss';

.RejectSubOrder__container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background: #e5e5e5;

  @include mobileBreakpoint() {
    background: $color-bg-orders-list;
  }
}

.RejectSubOrder__header {
  padding: 16px 20px;
  background: #fcfcfc;
}

.RejectSubOrder__header__title {
  font-size: 26px;
  font-weight: bold;
  line-height: 34px;

  @include mobileBreakpoint() {
    font-size: 16px;
    line-height: 24px;
  }
}

.OrderRejectPage__selectors__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 16px 20px;
  background-color: #f4f5f7;

  @include mobileBreakpoint() {
    flex-direction: column;
  }
}

.RejectSubOrder__body__container {
  overflow: auto;
  flex: 1 1 auto;
  background-color: #f4f5f7;
}

.RejectSubOrder__buttonsContainer {
  display: flex;
  justify-content: center;
  padding: 16px;
  background: #fcfcfc;

  @include mobileBreakpoint() {
    box-shadow: 0 -1px 5px $color-first-navbar-border-shadow;
  }

  button {
    margin: 0 10px;

    @include mobileBreakpoint() {
      margin: 0;
    }
  }
}