.SubOrdersHistory__container {
  display: flex;
  min-height: 100vh;
  max-height: calc(100% - 70px);
  flex-direction: column;

  .SubOrdersHistory__headerTitle {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}
