@import '/src/styles/variables.scss';

.StallTable__container {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  padding: 16px 20px 0 20px;
  background: $color-bg-orders-list;
  overflow-y: auto;
}

.StallTable {
  width: 100%;
  padding: 16px;
  background: #fff;
}

.StallTable__header {
  border-bottom: 3px solid $color-order-details-border;
}

.StallTable__header__item {
  max-width: 260px;
  padding: 16px;
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
  text-align: left;
}

.StallTable__header__item-first {
  // width: 18%;
  width: 110px;
  padding: 16px;
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
  text-align: left;
}

.StallTable__header__item-second {
  // width: 20%;
  width: 360px;
  padding: 16px;
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
  text-align: left;
}

.StallTable__header__item-third {
  width: 22%;
  padding: 16px;
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
  text-align: left;
}

.StallTable__header__item-fourth {
  width: 22%;
  padding: 16px;
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
  text-align: left;
}

.StallTable__header__item-margin-bottom {
  margin-bottom: 8px;
}

.StallTable__body {
  border-bottom: 1px solid $color-order-details-border;
}

.StallTable__body__item {
  padding: 16px;
  text-align: left;
  vertical-align: middle;
}

.SwitchCheckbox__text {
  font-size: 18px;
  line-height: 24px;
}

.stallStatus-option,
.stallStatus-sub-option {
  font-size: 20px;
  line-height: 28px;
}

.marginR20 {
  margin-left: 20px;
}

.StallTable__superSelect {
  font-size: 20px;
  line-height: 28px;
}

.StallTable__selector__container {
  width: 310px;
}