@import '/src/styles/mixins';

.LanguageMobile__container {
  .LanguageMobile__content {
    padding: 16px;

    .LanguageMobile__radio {
      display: flex;
      height: 48px;
      align-items: center;
      justify-content: flex-start;
      margin-bottom: 20px;
    }
  }

  .LanguageMobile__footer {
    button:not(:last-child) {
      margin-bottom: 14px;
    }
  }
}
