@import '/src/styles/variables.scss';

.SubOrderStatusMobile {
  width: fit-content;
  padding: 7px 8px;
  margin-top: 10px;
  border-radius: 4px;

  span {
    font-size: 16px;
    line-height: 24px;
  }

  &.green {
    background: $color-bg-light-green;
  }

  &.red {
    background: $color-bg-light-red;
  }

  &.gray {
    background: $color-bg-orders-list;
  }
}