@import '/src/styles/variables.scss';

.ItemBlockMobile__container {
  background: $color-bg-order-block;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  text-align: left;

  &:not(:last-child) {
    margin-bottom: 16px;
  }

  .ItemBlockMobile__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 12px 16px;
    border-bottom: 1px solid $color-order-details-border;

    .ItemBlockMobile__header__left {
      display: flex;
      justify-content: flex-start;
      font-size: 24px;
      font-weight: bold;
      line-height: 32px;

      img {
        margin-right: 8px;
        object-fit: contain;
      }
    }
  }

  .ItemBlockMobile__body {
    padding: 12px;
    font-size: 20px;
    line-height: 28px;

    .ItemBlockMobile__table {
      display: grid;
      grid-template-columns: 1.5fr 1fr;

      div {
        margin-top: 10px;
      }
    }

    .ItemBlockMobile__body__title {
      font-size: 16px;
      font-weight: bold;
      line-height: 24px;
    }
  }
}