@import '/src/styles/variables.scss';

.NavBarTablet__container {
  display: flex;
  height: 90px;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  background: $color-bg-first-level-navbar;
  box-shadow: 0 2px 5px $color-first-navbar-border-shadow;

  .NavBarTablet__selector {
    min-width: 40vw;
    min-height: 58px;
    border: 1px solid rgba(15, 39, 118, 0.1);
    background-image: linear-gradient(to top, #07c 2px, #07c 2px, transparent 0, transparent 50%) !important;
    border-radius: 4px;
    box-shadow: $search-box-shadow;

    span {
      font-size: 26px;
      font-weight: bold;
      line-height: 34px;
    }
  }

  & .euiSuperSelect>.euiPopover__anchor {
    height: 58px !important;
    min-height: 58px;
    border-left: 4px solid #1557bf;
  }

  & .euiSuperSelectControl {
    border-bottom-left-radius: 1px !important;
    border-top-left-radius: 1px !important;
  }

  .build-version {
    button {
      width: 28px;
      min-width: 28px;
      height: 28px;
      margin-left: 16px;

      .euiButtonContent {
        padding: 0;
      }
    }
  }
}

.NavBarTablet__navItem {
  color: #333;
  font-size: 20px;
  line-height: 28px;
}

.NavBarTablet__selector--item {
  padding: 12px;
  border: 0 0 0 0;
  border-bottom: 1px solid #d3dae6;
  border-bottom-width: 58%;
  border-left: 4px solid #1557bf;
}