.RejectSubOrder__checkbox__container {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.RejectSubOrder__checkbox__icon {
  display: flex;
  width: 28px;
  height: 28px;
  align-items: center;
  justify-content: center;
  border: 1px solid #c9cbcd;
  background-color: #fff;
  border-radius: 4px;
}

.RejectSubOrder__checkbox__icon-freezed {
  display: flex;
  width: 28px;
  height: 28px;
  align-items: center;
  justify-content: center;
  border: 1px solid #c9cbcd;
  background-color: #ccc;
  border-radius: 4px;
}

.RejectSubOrder__checkbox__icon-checked {
  display: flex;
  width: 28px;
  height: 28px;
  align-items: center;
  justify-content: center;
  border: 1px solid #c9cbcd;
  background-color: #1557bf;
  border-radius: 4px;
}

.RejectSubOrder__checkbox__icon-checked-freezed {
  display: flex;
  width: 28px;
  height: 28px;
  align-items: center;
  justify-content: center;
  border: 1px solid #c9cbcd;
  background-color: #ccc;
  border-radius: 4px;
}

.RejectSubOrder__checkbox__label__product {
  display: flex;
  width: 100%;
  height: 48px;
  align-items: center;
  justify-content: space-between;
  margin-left: 12px;
  font-size: 20px;
  font-weight: bold;
  line-height: 28px;
}

.RejectSubOrder__checkbox__label__item {
  margin-left: 10px;
  font-size: 18px;
  line-height: 24px;
}
