@import '/src/styles/variables.scss';
@import '/src/styles/mixins.scss';

.SubOrderDetails__container {
  .OrderDetails__footer {
    .OrderDetails__buttonsContainer {
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: center;
      padding: 20px 0;
      box-shadow: 0 -5px 5px -5px $color-order-details-btn-shadow;

      & button {
        margin: 0 10px;
      }

      @include mobileBreakpoint() {
        flex-direction: column;
        padding: 20px 16px;

        button {
          width: 100%;

          &:not(:last-child) {
            margin-bottom: 16px;
          }
        }
      }
    }
  }
}
