.CustomisationDataRaw__container {
  display: flex;
  flex-direction: column;
  margin-top: 16px;

  span {
    font-size: 18px;
  }

  .CustomisationDataRaw__customisation {
    display: flex;
    justify-content: space-between;

    .CustomisationDataRaw__firstColumn {
      display: flex;
      align-items: flex-start;
    }

    .CustomisationDataRaw__secondColumn {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .CustomisationDataRaw__customisationPrice {
        display: flex;
        justify-content: flex-end;
      }
    }
  }
}
