@import '/src/styles/variables.scss';

.NavBarMobile__container {
  z-index: 1;
  display: flex;
  height: 58px;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  background: $color-background;
  box-shadow: 0 4px 5px -3px rgb(0 0 0 / 40%);
  font-family: $font-family-primary;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;

  .NavBarMobile__left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .NavBarMobile__icons {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .NavBarMobile__printIcon {
      width: 20px;
      height: 20px;
      margin-right: 18px;
    }

    .NavBarMobile__bellIcon {
      display: flex;
      width: 24px;
      height: 24px;
      align-items: center;
      justify-content: center;
      background-color: #f4f5f7;
      border-radius: 4px;
    }

    .active {
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-name: bell;
    }

    @keyframes bell {
      0% {
        background-color: #c1083a;
      }

      100% {
        background-color: #f4f5f7;
      }
    }
  }

  .MenuMobile__button {
    margin-right: 20px;
    cursor: pointer;
  }
}

.MenuPage__container {
  display: flex;
  min-height: 100vh;
  max-height: calc(100% - 70px);
  flex-direction: column;

  &.filters {
    display: block;

    .TopNavBarMobile__container {
      display: none;
    }
  }

  .NavBarMobile__container {
    box-shadow: none;
    font-family: $font-family-primary;
  }
}

.SubOrderPage__container {
  .NavBarMobile__container {
    box-shadow: none;
  }
}