@import '/src/styles/variables.scss';

.Filter__container {
  position: relative;
  display: flex;
  align-items: center;

  .euiPopover__anchor {
    margin-right: 20px;
    margin-left: 20px;

    .euiButton--primary {
      min-width: 400px;
      box-sizing: border-box;
      border: 1px solid rgba(15, 39, 118, 0.1);
      background: #fbfcfd;
      border-radius: 4px;
      box-shadow: $search-box-shadow;
      color: black;
      text-decoration: none;

      .euiButton__text {
        font-size: 20px;
      }

      .euiButtonContent {
        justify-content: space-between;
      }

      &:hover,
      &:focus {
        border-bottom: 2px solid #1557bf;
        background: #fbfcfd;
        color: black;
        text-decoration: none;
      }
    }
  }
}

.euiPanel.Filter__popover-container {
  max-width: 600px;

  .empty-button {
    span {
      color: #1557bf;
    }

    &:focus {
      background-color: transparent;
    }
  }

  .euiPopover__panelArrow {
    left: 20px !important;
  }

  .Filter__popover-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .Filter__popover-body {
    span {
      font-size: 18px;
    }
  }

  .Filter__popover-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .euiButton__text {
      font-size: 20px;

      span {
        color: #1557bf;
      }
    }
  }
}