.ProductDataRaw__product {
  display: flex;
  padding-bottom: 16px;
  border-bottom: 2px solid #eaeaea;
  margin-top: 16px;

  .ProductDataRaw__firstColumn {
    display: flex;
    align-items: flex-start;

    .ProductDataRaw__productQuantity {
      width: 40px;
      text-align: center;
    }
  }

  .ProductDataRaw__secondColumn {
    display: flex;
    width: 100%;
    flex-direction: column;

    .ProductDataRaw__refundedAmount {
      span {
        color: #c1083a;
        font-size: 18px;
        font-weight: 400;
      }
    }

    .ProductDataRaw__productNameContainer {
      display: flex;
      justify-content: space-between;

      .ProductDataRaw__name {
        overflow-wrap: anywhere;
      }

      .ProductDataRaw__quantity {
        margin-left: 50px;
      }
    }
  }
}
