@import '/src/styles/variables.scss';

.ItemBlockMobile__container {
  background-color: $color-bg-order-block;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  font-family: $font-family-primary;
  text-align: left;

  .ItemBlockMobile__body {
    padding: 12px 12px 8px;
    border-bottom: 1px solid $color-order-details-border;

    .ItemBlockMobile__category {
      font-size: 16px;
      line-height: 24px;
    }

    .ItemBlockMobile__name {
      font-size: 20px;
      font-weight: bold;
      line-height: 28px;
    }
  }

  .ItemBlockMobile__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 8px;
    font-size: 16px;
    line-height: 24px;

    .ItemBlockMobile__available {
      display: flex;
      height: 38px;
      align-items: center;
      justify-content: flex-start;
      padding: 0 8px;
      border-radius: 4px;

      &.light-green {
        background: $color-bg-light-green;
      }

      &.light-orange {
        background: $color-bg-light-orange;
      }
    }

    .ItemBlockMobile__more {
      display: flex;
      width: 38px;
      height: 38px;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }
  }
}