@import '/src/styles/mixins.scss';
@import '/src/styles/variables.scss';

.SuccessMessage__container {
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: $font-family-primary;
}

.SuccessMessage__title {
  width: 470px;
  margin-top: 16px;
  font-size: 26px;
  font-weight: bold;
  line-height: 34px;
  text-align: center;

  @include mobileBreakpoint() {
    width: auto;
    margin: 16px 16px 0;
  }
}

.SuccessMessage__text {
  width: 490px;
  margin-top: 16px;
  font-size: 20px;
  line-height: 28px;
  text-align: center;

  @include mobileBreakpoint() {
    width: auto;
    margin: 16px;
  }
}