@import '/src/styles/variables.scss';

.DatePickerMobile__button {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;

  .DatePickerMobile__icon {
    width: 24px;
    height: 24px;
    margin-right: 12px;
  }
}

.DatePickerMobile__container {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100vh;
  align-items: center;
  padding: 0 12px;
  background: rgba(0, 0, 0, 0.4);

  .DatePickerMobile__content {
    width: 100%;
    padding: 12px 0;
    background: $color-text-contrast;
    border-radius: 4px;

    .react-datepicker {
      font-size: 20px;
      line-height: 28px;

      &__day {
        width: 42px;
        height: 42px;
        margin: 0;
        line-height: 42px;

        &-names {
          font-size: 16px;
          line-height: 24px;
        }
      }
    }

    .DatePickerMobile__footer {
      display: flex;
      height: 65px;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      padding: 16px 16px 4px;
    }
  }
}