@import '/src/styles/variables.scss';

.StallTableMobile__container {
  display: flex;
  min-height: calc(100vh - 58px);
  flex-direction: column;
  padding: 16px;
  overflow-y: scroll;

  .StallTableMobile__section {
    padding: 12px;
    margin-top: 16px;
    background: $color-background;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);

    .StallTableMobile__section__header {
      display: flex;
      justify-content: space-between;
      padding: 0 12px 12px 12px;
      border-bottom: 1px solid $color-order-details-border;
      margin-right: -12px;
      margin-left: -12px;
      background: $color-text-contrast;
      font-size: 16px;
      font-weight: bold;
      line-height: 24px;

      .StallTableMobile__section__header__description {
        font-weight: normal;
      }
    }

    .StallTableMobile__section__item {
      padding: 12px 0;

      &:last-child {
        padding: 12px 0 0 0;
      }

      &:not(:last-child) {
        border-bottom: 1px solid $color-order-details-border;
      }

      .StallTableMobile__section__item__content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 8px;
        font-size: 20px;
        line-height: 28px;

        .SwitchAutoAccept__text {
          max-width: 130px;
          font-size: 16px;
          line-height: 24px;

          &.manual {
            max-width: 150px;
          }
        }

        .StallTableMobile__time.disabled {
          color: #999;
        }
      }

      img {
        object-fit: contain;
      }

      &.flex {
        display: flex;
        justify-content: space-between;

        .StallTableMobile__section__item__content {
          margin-top: 0;
        }
      }
    }
  }
}