@import '/src/styles/mixins.scss';

.StallClosed__container {
  background: #fcfcfc;
}

.StallClosed__title {
  font-size: 26px;
  line-height: 34px;

  @include mobileBreakpoint() {
    font-size: 20px;
    line-height: 28px;
  }
}
